@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}


/*NavBar*/
header img{
    height: 60px;
    width: 250px;
}
li, a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    height: 60px;
}
.logo{
    cursor: pointer;

}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0 20px;
}
.navlinks li a{
    transition: all 0.3s ease 0s;
    color: black;
}
.navlinks li a:hover{
   color: #BD7136;
}
 header button{
    padding: 9px 25px;
    background-color: #BD7136;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: white;
    width: 150px;
    margin-right: 20px;
}
header button:hover{
    background-color: black;
}



/*Footer Main*/
footer {
    position: sticky;
    top: 100%;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}
.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #BD7136;
    margin: 0;
}
/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center p a {
    color: #BD7136;
    text-decoration: none;
    ;
}
/* Footer Right */
.footer-distributed .footer-right {
    width: 30%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover {
    background-color: #BD7136;
}
.footer-links a:hover {
    color: #BD7136;
}
@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}



/*Home Page Styling*/
.container{
    --bg-image: url(images/pc3.jpeg);
    --bg-image-opacity: 0.55;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    margin-bottom: 15px;
    animation: fadeInUp 2s ease;
}
.container::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: var(--bg-image-opacity);
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
}
.container h5{
    font-family: 'Geologica', sans-serif;
    font-size: 30px;
}
.container h1{
    font-family: 'Geologica', sans-serif;
    font-size: 60px;
    margin-top: 5px;
}
.container p{
    font-family: 'Geologica','sans-serif';
    font-size: 20px;
    margin-top: 5px;
}
.cont-but{
    margin-top: 10px;
    padding: 9px 25px;
    background-color: #BD7136;
    border: none;
    color: #fff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 25px ;
}
.cont-but:hover{
    background-color: #000;
}
.services{
    width: 1300px;
    padding: 80px 60px;
    margin: auto;
}
.services h1{
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Geologica', 'sans-serif';
    position: relative;
    font-weight: 600;
}
.services h1:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    background-color: #000;
}
.scards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: calc(34% - 22px);
    background: #e6e6e6;
    color: #333;
    padding: 40px 12px;
    margin:0 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.sbox i{
    font-size: 36px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: 15px;
    transition: 0.5s;
}
.sbox h3{
    font-size: 24px;

}
.sbox p{
    margin: 20px 0;
}
.card:hover .sbox i{
    background: #BD7136;
    color: #fff;
    border-color: #BD7136;
}

/*Animation*/
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
